@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: "Outfit", serif;
    scroll-behavior: smooth;
  
}

.example::-webkit-scrollbar {
    display: none;
  }

body{
    height: 100vh;
   

    background-size: cover;
    background-position: center;
}

li{
    list-style-type: none ;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: green;
}

/* header */
header{
    position: relative;
    padding: 0 2rem;
    background-color: whitesmoke;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size:1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    
    font-size: 1.5rem;
    cursor: pointer;
    display:none;
}

.action_btn{
    background-color: green;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor:pointer;
    transition:scale 0.2s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.action_btn:hover{
    scale:1.05;
    color: white;
}

.action_btn:active{
    scale: 0.95;
}



.dropdown_menu {
    position: absolute;
    top: 60px;
    right: 2rem;
    width: 300px;
    height: 0; /* Start with zero height */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensure content is hidden when height is 0 */
    transition: height 0.3s ease; /* Smooth transition */
}

.dropdown_menu.open {
    height: 240px; /* Full height when open */
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* responsive */
@media (max-width: 992px){
    .navbar .links, .navbar .action_btn {
        display:none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

/* homepage */
/* image part */

.main_content{
    padding: 2rem;
    display: flex;
    justify-content: center;  /* Horizontally center the child */
    align-items: center;      /* Vertically center the child */
    height: 100%; 
}

.image{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.img_myimage{
    height: auto;
    width: 60%;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



/* text, buttons part */

.text_content{
    padding: 2rem;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.text_content h1{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.text_margin{
    margin-bottom: 1rem;
}

.btn_work{
    background-color: green;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor:pointer;
    transition:scale 0.2s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* responsive */
@media (max-width: 992px){
   

    .main_content{
        padding: 5px;      /* Vertically center the child */
        height: 100%; 
        display: block;
    }

    .image{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .img_myimage{
        display: none;
    }

    .text_content{
        padding: 2rem;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}



/* about me */
.about_me{
    background:white;
    height: auto;
    color: black;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}

.about_me >  div{
    padding: 50px;
}

.div1,.div2{
    width: 50%;
}

.div1 h3, .div1 h1, .div1 p, .div1 h1{
    margin-bottom: 2rem;
}

.div1 h3{
    color: green;
}

.div2{
    padding-top: 30px;
}

.div2 h1,.div2 h3{
    margin-bottom: 20px;
}

.div2 p{
    margin-bottom: 60px;
}

.div2 div{
    display: flex;   
}

.div2 div h2{
    margin-right: 70px;
}

/* about responsive */
@media (max-width: 992px){
    .about_me{
        display: block;
        margin-top: 50px;
        padding: 2rem;
    }

    .about_me >  div{
        padding: 0px;
    }

    .div1,.div2{
        width: 100%;
    }

    .div2{
        margin-top: 60px;
    }
}

/* project list */

.project_list{
        background:white;
        height: auto;
        width: 100%;
        display: flex;
        padding-left: 50px;
        padding-right: 50px;
}

.p_content{
    padding: 50px;
    width: 100%;
}

.p_content > h3{
    color: green;
}

.projects{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}

.container{
    padding: 20px;
    border-radius: 10px;
    margin: 5px;
    width: 30%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container > p{
    margin-bottom: 10px;
}

.p_link{
    color: black;
    padding: 3px;
    background-color: whitesmoke;
    margin-top: 20px;
    border-radius: 10px;
}

.tech_icon > i{
    transform: scale(1.6);
    margin-right: 10px;
}

/* project responsive */

@media (max-width: 992px){
    .project_list{
        display: block;
        margin-top: 50px;
        padding: 2rem;
    }

    .p_content{
        padding: 0px;
        width: 100%;
    }

    .projects{
        display: block;
        width: 100%;
    }

    .container{
        width: 100%;
    }
}


/* footer */




.soc_icon > a > i{
    transform: scale(2.4);
    padding: 20px;
}

.footer_text{
    padding: 20px;
    text-align: center;
}

.content2{
    padding: 10px;
    margin-bottom: 10px;
}

.flex_footer{
    margin-left:75px;
    margin-right: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_footer > div{
    width: 50%;
}

@media (max-width: 992px){
    .flex_footer{
        display: block;
    }

    .flex_footer > div{
        width: 100%;
    }

    footer{
        text-align: center;
    }
}






